<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block stylesheets %}
        <link href="css/base.css" rel="stylesheet"/>
    {% endblock %}
    {% block title %}
        <title>
            {{ title }}
        </title>
    {% endblock %}
</head>
<body>
<div id="wrapper">
    {% block header %}
        <h1>
            {{ header }}
        </h1>
    {% endblock %}
    <div id="contents">
        {% block contents %}{%  endblock %}
    </div>
    {% block toMain %}
        <div id="toMain">
            <a href="index.php">To main</a>
        </div>
    {% endblock %}
</div>
</body>
</html>