{% extends "base.html.twig" %}

{% block contents %}
    <p>
        {{ text }}
    </p>
    <p>
        {{ number }}
    </p>
    <ol>
        {% for user in users %}
            <li>
                {{ user.name }}
            </li>
        {% endfor %}
    </ol>
    <a href="quizPage.php">To quiz</a>
{% endblock %}

{% block toMain %}
    <div id="toMain">
        <a href="">Up</a>
    </div>
{% endblock %}